In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)
%matplotlib inline
#%matplotlib notebook
sns.set(rc={'figure.figsize':(11.7,8.27)})
from scipy import stats
import statsmodels.api as sm
from scipy.stats import ks_2samp
import scipy.stats as stats
from scipy.stats import ttest_rel
from datetime import datetime

In [2]:
df_16_20_long = pd.read_pickle(r'./otherData/demand_data_long_format.pkl')

In [4]:
df_16_20_long.head()

                Distributor matCode  siv_demand
timestamp
2016-01-01  A K ENTERPRISES  120082        0.00
2016-01-01  A K ENTERPRISES  120088        0.00
2016-01-01  A K ENTERPRISES  120089        0.00
2016-01-01  A K ENTERPRISES  120182        0.00
2016-01-01  A K ENTERPRISES  120229        0.00

In [5]:
df_16_20_long.index.max()

Timestamp('2020-02-01 00:00:00')

In [8]:
df_16_20_long['qtr']=df_16_20_long.index.quarter
df_16_20_long['year'] = df_16_20_long.index.year

In [11]:
df_16_20_long.groupby(['Distributor','year'])['matCode'].size().unstack().reset_index()

year                              Distributor  2016  2017  2018  2019  2020
0                             A K ENTERPRISES  8820  8820  8820  8820  1470
1                 ACURA INDUSTRIAL LUBRICANTS  8820  8820  8820  8820  1470
2                             AKILAN AGENCIES  8820  8820  8820  8820  1470
3                                ANAND MOTORS  8820  8820  8820  8820  1470
4                                  AUTO WORLD  8820  8820  8820  8820  1470
5          AUTOMATION AND GENERAL ELECTRIC CO  8820  8820  8820  8820  1470
6                            AWESH AUTOMOTIVE  8820  8820  8820  8820  1470
7                              Aashvi Traders  8820  8820  8820  8820  1470
8                            Adila Enterprise  8820  8820  8820  8820  1470
9                  Agra Diesels & Automobiles  8820  8820  8820  8820  1470
10                                        All    12    12    12    12     2
11                      Allahabad Auto Stores  8820  8820  8820  8820  1470
12                           Amit Automobiles  8820  8820  8820  8820  1470
13                           Anil Automobiles  8820  8820  8820  8820  1470
14                             Apollo Traders  8820  8820  8820  8820  1470
15         Arihant Bearings Services  Pvt Ltd  8820  8820  8820  8820  1470
16                      Arun Bansal & Company  8820  8820  8820  8820  1470
17    BANSAL LUBRICANTS INDIA PRIVATE LIMITED  8820  8820  8820  8820  1470
18                         BRIGHT ENTERPRISES  8820  8820  8820  8820  1470
19                              Battery House  8820  8820  8820  8820  1470
20                       Bhairava Enterprises  8820  8820  8820  8820  1470
21                          Bhatia Associates  8820  8820  8820  8820  1470
22                            CHARBHUJA LUBES  8820  8820  8820  8820  1470
23                         Chandra Lubricants  8820  8820  8820  8820  1470
24                              DELHI TRADERS  8820  8820  8820  8820  1470
25                             DELTA TECHNICA  8820  8820  8820  8820  1470
26                       DURGA SALES AGENCIES  8820  8820  8820  8820  1470
27                        Darshan Enterprises  8820  8820  8820  8820  1470
28                        Delhi Auto Agencies  8820  8820  8820  8820  1470
29                              Durga Traders  8820  8820  8820  8820  1470
..                                        ...   ...   ...   ...   ...   ...
142                      Shatarupa Enterprise  8820  8820  8820  8820  1470
143                          Shekhar Agencies  8820  8820  8820  8820  1470
144                    Shiv Shakti Enterprise  8820  8820  8820  8820  1470
145                       Shiv Shakti Traders  8820  8820  8820  8820  1470
146                        Shree Bharat Petro  8820  8820  8820  8820  1470
147                             Shree Ji Lube  8820  8820  8820  8820  1470
148                       Shree Laxmi Traders  8820  8820  8820  8820  1470
149                    Shree Shyam Automobile  8820  8820  8820  8820  1470
150                   Shree Shyam Corporation  8820  8820  8820  8820  1470
151                              Shweta Sales  8820  8820  8820  8820  1470
152                               Sigma India  8820  8820  8820  8820  1470
153                           Sona Industries  8820  8820  8820  8820  1470
154               Spectrum Petromac Pvt. Ltd.  8820  8820  8820  8820  1470
155                       Speed A Way Pvt Ltd  8820  8820  8820  8820  1470
156                        Sreeja EarthMovers  8820  8820  8820  8820  1470
157          Sri Radhey Krishna Product Wings  8820  8820  8820  8820  1470
158                  Star Industrial Products  8820  8820  8820  8820  1470
159             Strategic Equipment Solutions  8820  8820  8820  8820  1470
160                    Super Transports P Ltd  8820  8820  8820  8820  1470
161                     Swastik International  8820  8820  8820  8820  1470
162                     T S Motors & Tractors  8820  8820  8820  8820  1470
163              The Yamuna Syndicate Limited  8820  8820  8820  8820  1470
164                      V.K. OIL & CHEMICALS  8820  8820  8820  8820  1470
165                             V.K.LUBRICANT  8820  8820  8820  8820  1470
166                          VORA ENTERPRISES  8820  8820  8820  8820  1470
167             Veerabhadreshwara Enterprises  8820  8820  8820  8820  1470
168                       Vibarja Enterprises  8820  8820  8820  8820  1470
169                        Vinayak Lubricants  8820  8820  8820  8820  1470
170              Vishwakarma Diesel engineers  8820  8820  8820  8820  1470
171                          Zorin Enterprise  8820  8820  8820  8820  1470

[172 rows x 6 columns]

In [12]:
data_org = pd.read_excel(r'D:\\raghav demand forecasting\\otherdata works\\REL_DATA_2.xlsx',sheetname='prep_data')

In [17]:
data_org.to_pickle('org_data_2016_18.pkl')

In [14]:
data_org.head()

,Distributor,STRIPES Code,Fiscal year/period,year,Date,Sum of Volume (L)
0,A K ENTERPRISES,135988,APR 2018,2018,2018-04-28,31.98
1,A K ENTERPRISES,136071,APR 2018,2018,2018-04-28,96.10
2,A K ENTERPRISES,139312,JUL 2018,2018,2018-07-28,416.39
3,A K ENTERPRISES,139343,SEP 2018,2018,2018-09-28,416.39
4,A K ENTERPRISES,139362,APR 2018,2018,2018-04-28,208.12

In [22]:
count_of_mats_year_wise = data_org.groupby(['Distributor','year'])['STRIPES Code'].nunique().unstack().reset_index()

In [23]:
count_of_mats_year_wise.fillna(0,inplace=True)

In [24]:
count_of_mats_year_wise

year                              Distributor   2016   2017   2018
0                             A K ENTERPRISES   0.00  20.00  93.00
1                                ANAND MOTORS 107.00 124.00 125.00
2                                  AUTO WORLD   0.00   7.00 117.00
3          AUTOMATION AND GENERAL ELECTRIC CO   0.00  68.00  76.00
4                            AWESH AUTOMOTIVE   0.00  19.00  62.00
5                  Agra Diesels & Automobiles   0.00   0.00  14.00
6                       Allahabad Auto Stores   0.00   0.00  29.00
7                            Amit Automobiles   0.00   0.00  66.00
8                              Apollo Traders   0.00  99.00 117.00
9                       Arun Bansal & Company  37.00  32.00  22.00
10    BANSAL LUBRICANTS INDIA PRIVATE LIMITED  76.00  92.00 106.00
11                              Battery House   0.00   0.00  60.00
12                       Bhairava Enterprises   0.00   0.00  90.00
13                          Bhatia Associates  48.00  45.00  44.00
14                            CHARBHUJA LUBES  65.00  73.00  81.00
15                              DELHI TRADERS 108.00 112.00 136.00
16                             DELTA TECHNICA   0.00   4.00  73.00
17                       DURGA SALES AGENCIES   0.00  35.00  61.00
18                        Darshan Enterprises   0.00   0.00  15.00
19                        Delhi Auto Agencies   0.00  74.00 121.00
20                 Eshaan Enterprises Limited   0.00   0.00   9.00
21                      Evershine Enterprises   0.00   0.00  37.00
22                          Excel Automobiles   0.00   0.00  44.00
23                     FRIENDS FOUNDATION INC   0.00  56.00  66.00
24          G.K. & Sons Automobiles Pvt. Ltd. 123.00 142.00 130.00
25                           GD MULTIVENTURES   0.00  10.00  74.00
26                          GUPTA ENTERPRISES   0.00  16.00  81.00
27                        Garodia Automobiles   0.00  76.00  96.00
28                               Govind & Co.  94.00 107.00 114.00
29                  Gulati Agencies Pvt. Ltd. 186.00 207.00 251.00
..                                        ...    ...    ...    ...
82                Rasman Technologies Pvt Ltd   0.00  47.00  63.00
83            Rotex PetroChem Private Limited 175.00 197.00 211.00
84                             S Ganga Motors   0.00  24.00  62.00
85                             S R LUBRICANTS 125.00 137.00 139.00
86                                 S V AGENCY   0.00  65.00 110.00
87                              S.K Marketing  71.00  56.00  74.00
88                          SHREE ENTERPRISES   0.00  70.00  78.00
89                  SHREE TRADING CORPORATION 170.00 185.00 235.00
90                            SIDDH BATTERIES  97.00  95.00  99.00
91               SIMRAN PETROLEUM CORPORATION  17.00  65.00  71.00
92                          SINGH AUTOMOBILES  37.00  31.00  58.00
93                    SINGLA MOTOR & TRACTORS   0.00  45.00  88.00
94                       SPEED A WAY PVT LTD.   0.00  64.00   0.00
95                         SRI MRG LUBRICANTS   0.00  95.00 130.00
96                    SUJYOTI INDIA (P.) LTD.  15.00  54.00  63.00
97         Sanjay Tools & Accessories Pvt Ltd 170.00 179.00 184.00
98                           Shekhar Agencies   0.00  24.00  31.00
99                     Shiv Shakti Enterprise   0.00   0.00  65.00
100                       Shiv Shakti Traders   0.00   0.00 103.00
101                        Shree Bharat Petro   4.00  49.00  25.00
102                       Shree Laxmi Traders  59.00  70.00 101.00
103                    Shree Shyam Automobile   0.00   0.00  39.00
104                               Sigma India   0.00   0.00  18.00
105               Spectrum Petromac Pvt. Ltd. 257.00 248.00 291.00
106                       Speed A Way Pvt Ltd 245.00 268.00 289.00
107                  Star Industrial Products 127.00 136.00 148.00
108                    Super Transports P Ltd 291.00 317.00 356.00
109                     Swastik International   0.00   8.00  85.00
110                      V.K. OIL & CHEMICALS   0.00  59.00  92.00
111                          VORA ENTERPRISES  54.00  99.00 129.00

[112 rows x 4 columns]

In [28]:
df_19_20_long = pd.read_pickle(r'df_19_20_long.pkl')

In [33]:
df_19_20_long.head()

,Distributor,Material,Month of Effective Date,EMAPS Forecast (Ltrs),ICB,SIV,SOV
0,A K ENTERPRISES,123331,2019-01-01,0,0.00,0.00,0.00
1,A K ENTERPRISES,123331,2019-02-01,0,0.00,0.00,0.00
2,A K ENTERPRISES,123331,2019-03-01,0,0.00,0.00,0.00
3,A K ENTERPRISES,123331,2019-04-01,0,0.00,0.00,0.00
4,A K ENTERPRISES,123331,2019-05-01,0,0.00,0.00,0.00

In [34]:
df_19_20_long['qtr'] =  df_19_20_long['Month of Effective Date'].dt.quarter
df_19_20_long['year'] = df_19_20_long['Month of Effective Date'].dt.year

In [35]:
count_of_mats_2019 = df_19_20_long.groupby(['Distributor','year'])['Material'].nunique().unstack().reset_index()

In [36]:
count_of_mats_2019

year                              Distributor  2019  2020
0                             A K ENTERPRISES   140   140
1                 ACURA INDUSTRIAL LUBRICANTS   129   129
2                             AKILAN AGENCIES    73    73
3                                ANAND MOTORS   203   203
4                                  AUTO WORLD   154   154
5          AUTOMATION AND GENERAL ELECTRIC CO   108   108
6                            AWESH AUTOMOTIVE    62    62
7                              Aashvi Traders    58    58
8                            Adila Enterprise    37    37
9                  Agra Diesels & Automobiles    13    13
10                      Allahabad Auto Stores    78    78
11                           Amit Automobiles    87    87
12                           Anil Automobiles    27    27
13                             Apollo Traders   173   173
14         Arihant Bearings Services  Pvt Ltd    46    46
15                      Arun Bansal & Company    38    38
16    BANSAL LUBRICANTS INDIA PRIVATE LIMITED   139   139
17                         BRIGHT ENTERPRISES    29    29
18                              Battery House    54    54
19                       Bhairava Enterprises   131   131
20                          Bhatia Associates    68    68
21                            CHARBHUJA LUBES   107   107
22                         Chandra Lubricants    65    65
23                              DELHI TRADERS   180   180
24                             DELTA TECHNICA   131   131
25                       DURGA SALES AGENCIES    88    88
26                        Darshan Enterprises    31    31
27                        Delhi Auto Agencies   148   148
28                              Durga Traders    51    51
29                 Eshaan Enterprises Limited    14    14
..                                        ...   ...   ...
140                      Shatarupa Enterprise    60    60
141                          Shekhar Agencies   197   197
142                    Shiv Shakti Enterprise    96    96
143                       Shiv Shakti Traders   160   160
144                        Shree Bharat Petro    36    36
145                             Shree Ji Lube    11    11
146                       Shree Laxmi Traders   156   156
147                    Shree Shyam Automobile    81    81
148                   Shree Shyam Corporation    14    14
149                              Shweta Sales    26    26
150                               Sigma India    50    50
151                           Sona Industries    67    67
152               Spectrum Petromac Pvt. Ltd.   382   382
153                       Speed A Way Pvt Ltd   425   425
154                        Sreeja EarthMovers    22    22
155          Sri Radhey Krishna Product Wings     8     8
156                  Star Industrial Products   206   206
157             Strategic Equipment Solutions    12    12
158                    Super Transports P Ltd   436   436
159                     Swastik International   105   105
160                     T S Motors & Tractors    22    22
161              The Yamuna Syndicate Limited    42    42
162                      V.K. OIL & CHEMICALS   138   138
163                             V.K.LUBRICANT    32    32
164                          VORA ENTERPRISES   152   152
165             Veerabhadreshwara Enterprises    89    89
166                       Vibarja Enterprises    82    82
167                        Vinayak Lubricants    37    37
168              Vishwakarma Diesel engineers    20    20
169                          Zorin Enterprise    53    53

[170 rows x 3 columns]

In [37]:
df_19_20_long.head()

,Distributor,Material,Month of Effective Date,EMAPS Forecast (Ltrs),ICB,SIV,SOV,qtr,year
0,A K ENTERPRISES,123331,2019-01-01,0,0.00,0.00,0.00,1,2019
1,A K ENTERPRISES,123331,2019-02-01,0,0.00,0.00,0.00,1,2019
2,A K ENTERPRISES,123331,2019-03-01,0,0.00,0.00,0.00,1,2019
3,A K ENTERPRISES,123331,2019-04-01,0,0.00,0.00,0.00,2,2019
4,A K ENTERPRISES,123331,2019-05-01,0,0.00,0.00,0.00,2,2019

In [38]:
qtr_agg = df_19_20_long.groupby(['Distributor','Material','qtr','year'])['SIV'].sum().reset_index()

In [39]:
qtr_agg.head()

       Distributor  Material  qtr  year   SIV
0  A K ENTERPRISES    123331    1  2019  0.00
1  A K ENTERPRISES    123331    1  2020 20.00
2  A K ENTERPRISES    123331    2  2019  0.00
3  A K ENTERPRISES    123331    3  2019  0.00
4  A K ENTERPRISES    123331    4  2019  0.00

In [44]:
qtr_agg.groupby(['Distributor','Material','qtr','year'])['SIV'].sum().unstack('qtr').reset_index()

qtr         Distributor  Material  year      1      2      3      4
0       A K ENTERPRISES    123331  2019   0.00   0.00   0.00   0.00
1       A K ENTERPRISES    123331  2020  20.00    nan    nan    nan
2       A K ENTERPRISES    130393  2019   0.00   0.00   0.00  20.00
3       A K ENTERPRISES    130393  2020   0.00    nan    nan    nan
4       A K ENTERPRISES    132568  2019   0.00   0.00   0.00  17.59
5       A K ENTERPRISES    132568  2020   0.00    nan    nan    nan
6       A K ENTERPRISES    135371  2019   0.00   0.00   0.00  18.39
7       A K ENTERPRISES    135371  2020   0.00    nan    nan    nan
8       A K ENTERPRISES    135402  2019   0.00   0.00   0.00   0.00
9       A K ENTERPRISES    135402  2020   0.00    nan    nan    nan
10      A K ENTERPRISES    136071  2019   0.00  72.00  24.00  24.00
11      A K ENTERPRISES    136071  2020  12.00    nan    nan    nan
12      A K ENTERPRISES    139286  2019   0.00   0.00 208.00   0.00
13      A K ENTERPRISES    139286  2020   0.00    nan    nan    nan
14      A K ENTERPRISES    139312  2019   0.00   0.00   0.00   0.00
15      A K ENTERPRISES    139312  2020   0.00    nan    nan    nan
16      A K ENTERPRISES    139314  2019   0.00 208.00   0.00   0.00
17      A K ENTERPRISES    139314  2020   0.00    nan    nan    nan
18      A K ENTERPRISES    139341  2019   0.00 208.00   0.00   0.00
19      A K ENTERPRISES    139341  2020   0.00    nan    nan    nan
20      A K ENTERPRISES    139343  2019   0.00   0.00   0.00   0.00
21      A K ENTERPRISES    139343  2020   0.00    nan    nan    nan
22      A K ENTERPRISES    139362  2019   0.00   0.00   0.00   0.00
23      A K ENTERPRISES    139362  2020 208.00    nan    nan    nan
24      A K ENTERPRISES    139385  2019   0.00   0.00   0.00   0.00
25      A K ENTERPRISES    139385  2020   0.00    nan    nan    nan
26      A K ENTERPRISES    139386  2019   0.00   0.00   0.00   0.00
27      A K ENTERPRISES    139386  2020   0.00    nan    nan    nan
28      A K ENTERPRISES    139445  2019   0.00   0.00   0.00   0.00
29      A K ENTERPRISES    139445  2020   0.00    nan    nan    nan
...                 ...       ...   ...    ...    ...    ...    ...
40304  Zorin Enterprise    141413  2019   0.00   0.00   0.00  24.00
40305  Zorin Enterprise    141413  2020 480.00    nan    nan    nan
40306  Zorin Enterprise    141421  2019   0.00   0.00   0.00 152.42
40307  Zorin Enterprise    141421  2020   0.00    nan    nan    nan
40308  Zorin Enterprise    141422  2019   0.00   0.00   0.00  76.21
40309  Zorin Enterprise    141422  2020  76.21    nan    nan    nan
40310  Zorin Enterprise    141425  2019   0.00   0.00   0.00  63.51
40311  Zorin Enterprise    141425  2020   0.00    nan    nan    nan
40312  Zorin Enterprise    141427  2019   0.00   0.00   0.00  45.73
40313  Zorin Enterprise    141427  2020 571.58    nan    nan    nan
40314  Zorin Enterprise    141457  2019   0.00   0.00   0.00   0.00
40315  Zorin Enterprise    141457  2020 240.00    nan    nan    nan
40316  Zorin Enterprise    141661  2019   0.00   0.00   0.00 120.00
40317  Zorin Enterprise    141661  2020 120.00    nan    nan    nan
40318  Zorin Enterprise    141662  2019   0.00   0.00   0.00  90.00
40319  Zorin Enterprise    141662  2020 120.00    nan    nan    nan
40320  Zorin Enterprise    141979  2019   0.00   0.00   0.00 800.00
40321  Zorin Enterprise    141979  2020 200.00    nan    nan    nan
40322  Zorin Enterprise    141980  2019   0.00   0.00   0.00 360.00
40323  Zorin Enterprise    141980  2020 900.00    nan    nan    nan
40324  Zorin Enterprise    141993  2019   0.00   0.00   0.00 150.00
40325  Zorin Enterprise    141993  2020 750.00    nan    nan    nan
40326  Zorin Enterprise    142290  2019   0.00   0.00   0.00 360.00
40327  Zorin Enterprise    142290  2020   0.00    nan    nan    nan
40328  Zorin Enterprise    142291  2019   0.00   0.00   0.00 180.00
40329  Zorin Enterprise    142291  2020   0.00    nan    nan    nan
40330  Zorin Enterprise    142528  2019   0.00   0.00   0.00 198.00
40331  Zorin Enterprise    142528  2020   0.00    nan    nan    nan
40332  Zorin Enterprise    142529  2019   0.00   0.00   0.00 220.00
40333  Zorin Enterprise    142529  2020 440.00    nan    nan    nan

[40334 rows x 7 columns]

In [45]:
qtr_agg.groupby(['Distributor','Material','qtr','year'])['SIV'].sum().unstack(['qtr','year']).reset_index()

qtr         Distributor Material      1             2      3      4
year                               2019   2020   2019   2019   2019
0       A K ENTERPRISES   123331   0.00  20.00   0.00   0.00   0.00
1       A K ENTERPRISES   130393   0.00   0.00   0.00   0.00  20.00
2       A K ENTERPRISES   132568   0.00   0.00   0.00   0.00  17.59
3       A K ENTERPRISES   135371   0.00   0.00   0.00   0.00  18.39
4       A K ENTERPRISES   135402   0.00   0.00   0.00   0.00   0.00
5       A K ENTERPRISES   136071   0.00  12.00  72.00  24.00  24.00
6       A K ENTERPRISES   139286   0.00   0.00   0.00 208.00   0.00
7       A K ENTERPRISES   139312   0.00   0.00   0.00   0.00   0.00
8       A K ENTERPRISES   139314   0.00   0.00 208.00   0.00   0.00
9       A K ENTERPRISES   139341   0.00   0.00 208.00   0.00   0.00
10      A K ENTERPRISES   139343   0.00   0.00   0.00   0.00   0.00
11      A K ENTERPRISES   139362   0.00 208.00   0.00   0.00   0.00
12      A K ENTERPRISES   139385   0.00   0.00   0.00   0.00   0.00
13      A K ENTERPRISES   139386   0.00   0.00   0.00   0.00   0.00
14      A K ENTERPRISES   139445   0.00   0.00   0.00   0.00   0.00
15      A K ENTERPRISES   139448   0.00   0.00 100.00   0.00   0.00
16      A K ENTERPRISES   139449   0.00   0.00 250.00   0.00   0.00
17      A K ENTERPRISES   139451   0.00   0.00 262.50   0.00   0.00
18      A K ENTERPRISES   139452   0.00   0.00  40.00   0.00   0.00
19      A K ENTERPRISES   139453   0.00   0.00   0.00   0.00   0.00
20      A K ENTERPRISES   139457   0.00   0.00   0.00   0.00   0.00
21      A K ENTERPRISES   139464 640.00   0.00   0.00 100.00   0.00
22      A K ENTERPRISES   139465 900.00   0.00 540.00   0.00   0.00
23      A K ENTERPRISES   139467   0.00 100.00   0.00   0.00  40.00
24      A K ENTERPRISES   139468   0.00   0.00   0.00   0.00   0.00
25      A K ENTERPRISES   139470   0.00 200.00 200.00 200.00 200.00
26      A K ENTERPRISES   139471   0.00   0.00   0.00   0.00   0.00
27      A K ENTERPRISES   139472   0.00   0.00   0.00  60.00 120.00
28      A K ENTERPRISES   139475   0.00 100.00   0.00   0.00 100.00
29      A K ENTERPRISES   139478   0.00   0.00   0.00   0.00   0.00
...                 ...      ...    ...    ...    ...    ...    ...
20137  Zorin Enterprise   140471   0.00   0.00   0.00   0.00  40.00
20138  Zorin Enterprise   140472   0.00 210.00   0.00   0.00  28.00
20139  Zorin Enterprise   140473   0.00 270.00   0.00   0.00  36.00
20140  Zorin Enterprise   140578   0.00   0.00   0.00   0.00 200.00
20141  Zorin Enterprise   140579   0.00   0.00   0.00   0.00  70.00
20142  Zorin Enterprise   140581   0.00   0.00   0.00   0.00 200.00
20143  Zorin Enterprise   141229   0.00  70.00   0.00   0.00   0.00
20144  Zorin Enterprise   141381   0.00 100.00   0.00   0.00 100.00
20145  Zorin Enterprise   141390   0.00  75.00   0.00   0.00   0.00
20146  Zorin Enterprise   141391   0.00 100.00   0.00   0.00   0.00
20147  Zorin Enterprise   141394   0.00   0.00   0.00   0.00  50.00
20148  Zorin Enterprise   141395   0.00   0.00   0.00   0.00  75.00
20149  Zorin Enterprise   141399   0.00 672.00   0.00   0.00  48.00
20150  Zorin Enterprise   141409   0.00   0.00   0.00   0.00  21.60
20151  Zorin Enterprise   141410   0.00   0.00   0.00   0.00  24.00
20152  Zorin Enterprise   141413   0.00 480.00   0.00   0.00  24.00
20153  Zorin Enterprise   141421   0.00   0.00   0.00   0.00 152.42
20154  Zorin Enterprise   141422   0.00  76.21   0.00   0.00  76.21
20155  Zorin Enterprise   141425   0.00   0.00   0.00   0.00  63.51
20156  Zorin Enterprise   141427   0.00 571.58   0.00   0.00  45.73
20157  Zorin Enterprise   141457   0.00 240.00   0.00   0.00   0.00
20158  Zorin Enterprise   141661   0.00 120.00   0.00   0.00 120.00
20159  Zorin Enterprise   141662   0.00 120.00   0.00   0.00  90.00
20160  Zorin Enterprise   141979   0.00 200.00   0.00   0.00 800.00
20161  Zorin Enterprise   141980   0.00 900.00   0.00   0.00 360.00
20162  Zorin Enterprise   141993   0.00 750.00   0.00   0.00 150.00
20163  Zorin Enterprise   142290   0.00   0.00   0.00   0.00 360.00
20164  Zorin Enterprise   142291   0.00   0.00   0.00   0.00 180.00
20165  Zorin Enterprise   142528   0.00   0.00   0.00   0.00 198.00
20166  Zorin Enterprise   142529   0.00 440.00   0.00   0.00 220.00

[20167 rows x 7 columns]

In [51]:
qtr_agg['qtr_weight'] = qtr_agg.SIV*100/qtr_agg.groupby(['Distributor','qtr','year'])\
                        ['SIV'].transform('sum')

In [52]:
qtr_agg.head()

       Distributor  Material  qtr  year   SIV  qtr_weight
0  A K ENTERPRISES    123331    1  2019  0.00        0.00
1  A K ENTERPRISES    123331    1  2020 20.00        0.16
2  A K ENTERPRISES    123331    2  2019  0.00        0.00
3  A K ENTERPRISES    123331    3  2019  0.00        0.00
4  A K ENTERPRISES    123331    4  2019  0.00        0.00

In [59]:
qtr_agg['qtr_w_rank'] =qtr_agg.groupby(['Distributor','qtr','year'])['qtr_weight'].rank(ascending=False,method='dense')

In [60]:
qtr_agg.head()

       Distributor  Material  qtr  year   SIV  qtr_weight  qtr_w_rank
0  A K ENTERPRISES    123331    1  2019  0.00        0.00       29.00
1  A K ENTERPRISES    123331    1  2020 20.00        0.16       27.00
2  A K ENTERPRISES    123331    2  2019  0.00        0.00       41.00
3  A K ENTERPRISES    123331    3  2019  0.00        0.00       43.00
4  A K ENTERPRISES    123331    4  2019  0.00        0.00       44.00

In [61]:
qtr_agg.to_excel(r'dist_mat_qtr_weight.xlsx',index=False)

In [62]:
qtr_agg.shape

(100835, 7)

In [70]:
qtr_agg_wide_fmt = qtr_agg.groupby(['Distributor','Material','qtr','year'])['qtr_weight'].mean().unstack(['qtr','year']).reset_index()

In [71]:
qtr_agg_wide_fmt.fillna(0,inplace=True)

In [72]:
qtr_agg_wide_fmt.columns = [''.join(str(col)).strip() for col in qtr_agg_wide_fmt.columns.values]

In [73]:
qtr_agg_wide_fmt.head()

,"('Distributor', '')","('Material', '')","(1, 2019)","(1, 2020)","(2, 2019)","(3, 2019)","(4, 2019)"
0,A K ENTERPRISES,123331,0.00,0.16,0.00,0.00,0.00
1,A K ENTERPRISES,130393,0.00,0.00,0.00,0.00,0.10
2,A K ENTERPRISES,132568,0.00,0.00,0.00,0.00,0.08
3,A K ENTERPRISES,135371,0.00,0.00,0.00,0.00,0.09
4,A K ENTERPRISES,135402,0.00,0.00,0.00,0.00,0.00

In [74]:
qtr_agg_wide_fmt.to_excel(r'dist_mat_qtr_weight_wide_fmt.xlsx',index=False)

In [44]:
qtr_agg.groupby(['Distributor','Material','qtr','year'])['SIV'].sum().unstack('qtr').reset_index()

qtr         Distributor  Material  year      1      2      3      4
0       A K ENTERPRISES    123331  2019   0.00   0.00   0.00   0.00
1       A K ENTERPRISES    123331  2020  20.00    nan    nan    nan
2       A K ENTERPRISES    130393  2019   0.00   0.00   0.00  20.00
3       A K ENTERPRISES    130393  2020   0.00    nan    nan    nan
4       A K ENTERPRISES    132568  2019   0.00   0.00   0.00  17.59
5       A K ENTERPRISES    132568  2020   0.00    nan    nan    nan
6       A K ENTERPRISES    135371  2019   0.00   0.00   0.00  18.39
7       A K ENTERPRISES    135371  2020   0.00    nan    nan    nan
8       A K ENTERPRISES    135402  2019   0.00   0.00   0.00   0.00
9       A K ENTERPRISES    135402  2020   0.00    nan    nan    nan
10      A K ENTERPRISES    136071  2019   0.00  72.00  24.00  24.00
11      A K ENTERPRISES    136071  2020  12.00    nan    nan    nan
12      A K ENTERPRISES    139286  2019   0.00   0.00 208.00   0.00
13      A K ENTERPRISES    139286  2020   0.00    nan    nan    nan
14      A K ENTERPRISES    139312  2019   0.00   0.00   0.00   0.00
15      A K ENTERPRISES    139312  2020   0.00    nan    nan    nan
16      A K ENTERPRISES    139314  2019   0.00 208.00   0.00   0.00
17      A K ENTERPRISES    139314  2020   0.00    nan    nan    nan
18      A K ENTERPRISES    139341  2019   0.00 208.00   0.00   0.00
19      A K ENTERPRISES    139341  2020   0.00    nan    nan    nan
20      A K ENTERPRISES    139343  2019   0.00   0.00   0.00   0.00
21      A K ENTERPRISES    139343  2020   0.00    nan    nan    nan
22      A K ENTERPRISES    139362  2019   0.00   0.00   0.00   0.00
23      A K ENTERPRISES    139362  2020 208.00    nan    nan    nan
24      A K ENTERPRISES    139385  2019   0.00   0.00   0.00   0.00
25      A K ENTERPRISES    139385  2020   0.00    nan    nan    nan
26      A K ENTERPRISES    139386  2019   0.00   0.00   0.00   0.00
27      A K ENTERPRISES    139386  2020   0.00    nan    nan    nan
28      A K ENTERPRISES    139445  2019   0.00   0.00   0.00   0.00
29      A K ENTERPRISES    139445  2020   0.00    nan    nan    nan
...                 ...       ...   ...    ...    ...    ...    ...
40304  Zorin Enterprise    141413  2019   0.00   0.00   0.00  24.00
40305  Zorin Enterprise    141413  2020 480.00    nan    nan    nan
40306  Zorin Enterprise    141421  2019   0.00   0.00   0.00 152.42
40307  Zorin Enterprise    141421  2020   0.00    nan    nan    nan
40308  Zorin Enterprise    141422  2019   0.00   0.00   0.00  76.21
40309  Zorin Enterprise    141422  2020  76.21    nan    nan    nan
40310  Zorin Enterprise    141425  2019   0.00   0.00   0.00  63.51
40311  Zorin Enterprise    141425  2020   0.00    nan    nan    nan
40312  Zorin Enterprise    141427  2019   0.00   0.00   0.00  45.73
40313  Zorin Enterprise    141427  2020 571.58    nan    nan    nan
40314  Zorin Enterprise    141457  2019   0.00   0.00   0.00   0.00
40315  Zorin Enterprise    141457  2020 240.00    nan    nan    nan
40316  Zorin Enterprise    141661  2019   0.00   0.00   0.00 120.00
40317  Zorin Enterprise    141661  2020 120.00    nan    nan    nan
40318  Zorin Enterprise    141662  2019   0.00   0.00   0.00  90.00
40319  Zorin Enterprise    141662  2020 120.00    nan    nan    nan
40320  Zorin Enterprise    141979  2019   0.00   0.00   0.00 800.00
40321  Zorin Enterprise    141979  2020 200.00    nan    nan    nan
40322  Zorin Enterprise    141980  2019   0.00   0.00   0.00 360.00
40323  Zorin Enterprise    141980  2020 900.00    nan    nan    nan
40324  Zorin Enterprise    141993  2019   0.00   0.00   0.00 150.00
40325  Zorin Enterprise    141993  2020 750.00    nan    nan    nan
40326  Zorin Enterprise    142290  2019   0.00   0.00   0.00 360.00
40327  Zorin Enterprise    142290  2020   0.00    nan    nan    nan
40328  Zorin Enterprise    142291  2019   0.00   0.00   0.00 180.00
40329  Zorin Enterprise    142291  2020   0.00    nan    nan    nan
40330  Zorin Enterprise    142528  2019   0.00   0.00   0.00 198.00
40331  Zorin Enterprise    142528  2020   0.00    nan    nan    nan
40332  Zorin Enterprise    142529  2019   0.00   0.00   0.00 220.00
40333  Zorin Enterprise    142529  2020 440.00    nan    nan    nan

[40334 rows x 7 columns]

In [80]:
qtr_agg_all_data = df_16_20_long.groupby(['Distributor','matCode','qtr','year'])['siv_demand'].sum().reset_index()

qtr_agg_all_data['qtr_weight'] = qtr_agg_all_data.siv_demand*100/qtr_agg_all_data.groupby(['Distributor','qtr','year'])\
                        ['siv_demand'].transform('sum')

qtr_agg_all_data['qtr_w_rank'] =qtr_agg_all_data.groupby(['Distributor','qtr','year'])['qtr_weight'].rank(ascending=False,method='dense')
qtr_agg_all_data_wide = qtr_agg_all_data.groupby(['Distributor','matCode','qtr','year'])['qtr_w_rank'].mean().unstack(['qtr','year']).reset_index()
qtr_agg_all_data_wide.fillna(0,inplace=True)

In [88]:
qtr_agg_all_data_wide.head()

qtr       Distributor matCode    1                           2             \
year                          2016 2017  2018  2019  2020 2016 2017  2018
0     A K ENTERPRISES  120082 0.00 0.00 24.00 29.00 30.00 0.00 0.00 30.00
1     A K ENTERPRISES  120088 0.00 0.00 24.00 29.00 30.00 0.00 0.00 30.00
2     A K ENTERPRISES  120089 0.00 0.00 24.00 29.00 30.00 0.00 0.00 30.00
3     A K ENTERPRISES  120182 0.00 0.00 24.00 29.00 30.00 0.00 0.00 30.00
4     A K ENTERPRISES  120229 0.00 0.00 24.00 29.00 30.00 0.00 0.00 30.00

qtr           3                     4
year  2019 2016 2017  2018  2019 2016  2017  2018  2019
0    41.00 0.00 0.00 26.00 43.00 0.00 12.00 37.00 44.00
1    41.00 0.00 0.00 26.00 43.00 0.00 12.00 37.00 44.00
2    41.00 0.00 0.00 26.00 43.00 0.00 12.00 37.00 44.00
3    41.00 0.00 0.00 26.00 43.00 0.00 12.00 37.00 44.00
4    41.00 0.00 0.00 26.00 43.00 0.00 12.00 37.00 44.00

In [89]:
qtr_agg_all_data_wide.columns

MultiIndex(levels=[[1, 2, 3, 4, 'matCode', 'Distributor'], [2016, 2017, 2018, 2019, 2020, '']],
           labels=[[5, 4, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3], [5, 5, 0, 1, 2, 3, 4, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           names=['qtr', 'year'])

In [90]:
qtr_agg_all_data.to_excel('qtr_agg_all_data_long.xlsx',index=False)

In [91]:
qtr_agg_all_data_wide.shape

(125686, 19)